<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.2.0
    </div>
    <strong>&copy; 2018-@DateTime.Now.Year <a href="https://whois.aliyun.com/whois/domain/hualian.site?spm=5176.8076989.1407540.22.36b818384hHkxi&file=hualian.site" target="_blank">@ViewBag.company</a>.</strong> 技术支持:Mike J

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?565933c75a20f86c52ee02915c673e37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</footer> 